@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2f3b1e1a;
  --foreground: #171717;
  --secondary: #949A8C;
  --hover-color : #64685f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131827;
    --foreground: #ffffff;
    --secondary: #1E293B;
    --hover-color: #334155;
  }
}


